.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  @media (min-width: 768px) {
    padding-top: 3rem;
  }

  .logo {
    width: 100px;
    @media (min-width: 768px) {
      width: 210px;
    }
  }
}
